<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tapusd.demo.mappers.two.PostMapper">
    <select id="findAll" resultType="com.tapusd.demo.domain.Post">
        SELECT
            *
        FROM
            post
    </select>
</mapper>